{{ template "header.html" .}}

<!-- DataTables -->
<link href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

{{ template "styles.html" .}}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="header-title">Stock</h3>
                        <p class="card-title-desc">These are items available to be sold</p>
                    </div>
                    <div class="col-6 text-lg-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">Upload Excel <i class="mdi mdi-cloud-upload-outline"></i></button>
                            <button type="button" class="btn btn-primary">Download Excel <i class="mdi mdi-cloud-download-outline"></i></button>
                        </div>
                        <button type="button" class="btn btn-info waves-effect waves-light" data-toggle="modal" data-target="#add">Add <i class="mdi mdi-pencil-plus-outline"></i></button>

                    </div>
                </div>
                <table id="inventory-dt" class="table table-hover table-striped dt-responsive nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="thead-light">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Supplier</th>
                    <th>Stock Level</th>
                    <th>Price</th>
                    <th>Cost</th>
                    <th>Whole Price</th>
                    <th>Code</th>
                    <th>Reorder</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    {{range .inventory }}
                        <tr>
                            <td>{{ .ID}}</td>
                            <td>{{ .StoredItemId}}</td>
                            <td>{{ .SupplierId}}</td>
                            <td>{{ .StockLevel}}</td>
                            <td>{{ .Price}}</td>
                            <td>{{ .Cost}}</td>
                            <td>{{ .WholePrice}}</td>
                            <td>{{ .Code}}</td>
                            <td>10</td>
                            <td>
                                <i class="mdi mdi-plus text-primary mdi-18px"></i>
                                <i class="mdi mdi-pencil text-info mdi-18px"></i>
                                <i class="mdi mdi-clock-outline text-success mdi-18px"></i>
                                <i class="mdi mdi-trash-can text-danger mdi-18px"></i>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{{ template "scripts.html" .}}
<!-- Required datatable js -->
<script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script>

    $(document).ready(function () {
        $('#inventory-dt').DataTable();
    });

</script>

<div id="add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="name" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="description" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Reorder Point</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="reorderPoint" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Category</label>
                    <div class="col-md-10">
                        <select class="form-control">
                            <option>Large select</option>
                            <option>Small select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Tax</label>
                    <div class="col-md-10">
                        <select class="form-control">
                            <option>Tax</option>
                            <option>No Tax</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{{ template "footer.html" .}}